---
layout: page
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="../css/main.css">
    <link
    href='http://fonts.googleapis.com/css?family=Alegreya+Sans:500,500italic,900,900italic|Alegreya+Sans+SC:500,500italic,900,900italic' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/style.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    {% if site.favicon %}<link rel="shortcut icon" href="../{{ site.favicon }}" type="image/x-icon">{% endif %}
    <title>{{ site.title }}</title>
</head>


<body>
<nav><ul>
    {% for post in site.posts reversed %}
    {% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
    <li class="p-{{id}}"><a href="/#{{id}}">{{post.title}}</a></li>
    {% endfor %}
</ul></nav>

<section class="landing">
        <article><h2>{% capture landingtext %}{% include rsvplanding.md %}{% endcapture %}
    {{ landingtext | markdownify }}</h2> </article>
    </section>

{% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
    <section id="rsvp">


<form id="gform" method="POST" class="pure-form pure-form-stacked"
  action="https://script.google.com/macros/s/AKfycbyCLX2N-JgbN4X5AjqqXeMQHYlCHn2kip5KiZ0kjKBiYBc69wqr/exec">
<fieldset class="pure-group">
    <label for="token"></label> 
    <input id="token" name="token" value="{{page.token}}" size="15">
</fieldset>
Guest 1:
<fieldset class="pure-group">
    <label for="guest_1_first">First:</label> 
    <input id="guest_1_first" name="guest_1_first" size="15">
</fieldset>
<fieldset class="pure-group">
    <label for="guest_1_last">Last:</label> 
    <input id="guest_1_last" name="guest_1_last" size="15"> 
</fieldset>   
{% if page.n_guests == 2 %}
Guest 2: 
<fieldset class="pure-group">
<label for="guest_2_first">First:</label> 
    <input id="guest_2_first" name="guest_2_first" size="15">
</fieldset> 

<fieldset class="pure-group">
    <label for="guest_2_last">Last:</label> 
    <input id="guest_2_last" name="guest_2_last" size="15"> 
</fieldset> 

{% endif %}


    <input type="submit" value="submit"><i class="fa fa-paper-plane"></i>
    </form>
</section>
    
 <!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none;" id="thankyou_message">
    {% capture thankstext %}{% include rsvpthanks.md %}{% endcapture %}
    {{ thankstext | markdownify }}
  </div>

<footer>
    <em>{{page.comment | markdownify}}</em>
    <br><br>
    {% capture foottext %}{% include footer.md %}{% endcapture %}
    {{ foottext | markdownify }}
</footer>





</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../site.js"></script>
</html>
