---
layout: top
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Allura|Montserrat" rel="stylesheet">
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    {% if site.favicon %}<link rel="shortcut icon" href="../{{ site.favicon }}" type="image/x-icon">{% endif %}
    <title>{{ site.title }}</title>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

</head>


<body>
<nav><ul>
    {% for post in site.posts reversed %}
    {% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
    <li class="p-{{id}} prevent"><a href="{{site.baseurl}}/index.html#{{id}}">{{post.title}}</a></li>
    {% endfor %}
</ul></nav>

<main role="main">
<section class="landing">
    <article><h2>{% capture landingtext %}{% include rsvplanding.md %}{% endcapture %}
    {{ landingtext | markdownify }}</h2> </article>
</section>




{% for insert in site.inserts%}
  <div class="sidebar"> {{insert.title}}</div>
   {{ insert.output }}
{% endfor %}



<section id="rsvp">
<article>
<form id="gform" method="POST" class="pure-form pure-form-stacked"
  action="https://script.google.com/macros/s/AKfycbyCLX2N-JgbN4X5AjqqXeMQHYlCHn2kip5KiZ0kjKBiYBc69wqr/exec">
  <fieldset class="pure-group">
    <label for="token"></label>
    <input id="token" name="token" value="{{page.token}}" size="15">
  </fieldset>
  <h2>Guest 1</h2>
  <fieldset class="pure-group">
    <label for="guest_1_first">
    <input class="form-control" type="text" id="guest_1_first"
     name="guest_1_first" size="15" value="first"></label>

    <label for="guest_1_last">
    <input class="form-control" type="text" id="guest_1_last"
    name="guest_1_last" size="15" value="last"></label>
    </fieldset>
    {% if page.n_guests == 2 %}
      <br><br>
      <h2>Guest 2</h2>
      <fieldset class="pure-group">
        <label for="guest_2_first"></label>
        <input id="guest_2_first" name="guest_2_first" size="15" value="first">

        <label for="guest_2_last"></label>
        <input id="guest_2_last" name="guest_2_last" size="15" value="last">
      </fieldset>

    {% endif %}

    <br><br>
    <h2>Reply</h2>

    <fieldset>

<div class="radio">
      <input id="attendingy" name="attending" type="radio"
          class="custom-control-input" value="yes">
      <label for="attendingy">    Attending</label>


        <input id="attendingn" name="attending" type="radio"
          class="custom-control-input" value="no">
          <label for="attendingn">Decline</label>
      </div>
    </fieldset>


    <input id="submit" type="submit" value="submit">

</form>

    <!-- Customise the Thankyou Message People See when they submit the form: -->
   <div style="display:none;" id="thankyou_message">
       {% capture thankstext %}{% include rsvpthanks.md %}{% endcapture %}
       {{ thankstext | markdownify }}
   </div>
</article>
</section>

</main>

<footer>
    <em>{{page.comment | markdownify}}</em>
    <br><br>
    {% capture foottext %}{% include footer.md %}{% endcapture %}
    {{ foottext | markdownify }}
</footer>

<script data-cfasync="false" type="text/javascript" src="../form-submission-handler.js"></script>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="../site.js"></script>
</html>
