---
layout: top
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Allura|Montserrat" rel="stylesheet">

<script src="https://use.fontawesome.com/83f65985ad.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    {% if site.favicon %}<link rel="shortcut icon" href="../{{ site.favicon }}" type="image/x-icon">{% endif %}
    <title>{{ site.title }}</title>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

</head>


<body>

<nav><ul>
    {% for post in site.posts reversed %}

    {% if post.pages contains 'main' %}
    {% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
    <li class="p-{{id}} prevent"><a href="{{site.baseurl}}/index.html#{{id}}">{{post.title}}</a></li>
    {%endif%}
    {% endfor %}
</ul></nav>

  <section class="landing invite">
        {% capture invitetext %}{% include invite.md %}{% endcapture %}
        {{ invitetext | markdownify }}

  </section>

<main role="main">



  {% for post in site.posts reversed %}
  {% if post.pages contains 'rsvp' %}
  {% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
  <section id="{{id}}" class="{{ post.side }}">
    <h2 style="text-align:{{post.side}}; width:100%">{{post.title}}</h2>
      {% if post.icon %}
      <div class="subtlecircle sectiondivider imaged">
          <img src="{{post.icon}}" alt="section icon" />
          <h5 class="icon-title">{{ post.title }}</h5>
      </div>
      {% elsif post.fa-icon %}
      <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{ post.fa-icon }} fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">{{ post.title }}</h5>
      </div>
      {% endif %}
      <article>{{ post.content }}</article>
  </section>
  {% endif %}
  {% endfor %}


<section id="rsvp" class="left">

  <h2 style="text-align:{{post.side}}; width:100%">RSVP</h2>
<article>
  <form id="gform" method="POST"
    action="https://script.google.com/macros/s/AKfycbyCLX2N-JgbN4X5AjqqXeMQHYlCHn2kip5KiZ0kjKBiYBc69wqr/exec">

    <fieldset class="alignleft">
      <div class="radio">
        <input id="attendingy" name="attending" type="radio"value="yes">
        <label for="attendingy"> yes, I will be there! </label>
      </div>
      <div class="radio">
        <input id="attendingn" name="attending" type="radio" value="no">
        <label for="attendingn"> no, sadly I can't make it</label>
      </div>
    </fieldset>

    <fieldset class="pure-group">
      <label for="token"></label>
      <input id="token" name="token" value="{{page.token}}" size="15">
    </fieldset>

    <fieldset >
      <label for="guest_1_first">
      <input class="form-control" type="text" id="guest_1_first"
       name="guest_1_first" size="15" value="first"></label>

      <label for="guest_1_last">
      <input class="form-control" type="text" id="guest_1_last"
      name="guest_1_last" size="15" value="last"></label>
      </fieldset>
      {% if page.n_guests == 2 %}
        <br><br>
        <fieldset >
          <label for="guest_2_first"></label>
          <input id="guest_2_first" name="guest_2_first" size="15" value="first">

          <label for="guest_2_last"></label>
          <input id="guest_2_last" name="guest_2_last" size="15" value="last">
        </fieldset>

      {% endif %}

      <br><br>

      <fieldset>
      <input id="submit" type="submit" value="&#xf1d8;" class="reply"></fieldset>

  </form>

    <!-- Customise the Thankyou Message People See when they submit the form: -->
   <div style="display:none;" id="thankyou_message">
       {% capture thankstext %}{% include rsvpthanks.md %}{% endcapture %}
       {{ thankstext | markdownify }}
   </div>

</article>
</section>

</main>

<footer>

    <br><br>
    {% capture foottext %}{% include footer.md %}{% endcapture %}
    {{ foottext | markdownify }}
</footer>

<script data-cfasync="false" type="text/javascript" src="../form-submission-handler.js"></script>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="{{site.baseurl}}/site.js"></script>
</html>
